body {
  background-color: blanchedalmond;   /* dark blue */
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  background: gold;
  color: white;
  padding: 25px;
  width: 350px;
  border-radius: 10px;
}

h1 {
  color: black;   /* sky blue */
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #020617;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
}

li:hover {
  background: #38bdf8;
  color: black;
}

button {
  width: 100%;
  padding: 10px;
  background: green;   /* blue */
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}
